body {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}


.mainBody {
  width: 100%;
  max-width: 1920px;
}