@import "tailwindcss";

body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: "Roboto", sans-serif !important;
}

:root {
  width: 100%;
  --primary: #022061;
  --background: #ffffff;
  --text-color: #545050;
  --col-white: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
h4 {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
}

